.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  color: white;
  width: 100%;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 10px;
  padding: 0;
}

.navbar-menu li {
  cursor: pointer;
  font-weight: 500;
}

.navbar-menu li:hover {
  text-decoration: underline;
}

